#pp-logo {
    height: 35px;
}

#title {
    color: #ffffff;
    font-size: 28px;
    margin-left: 20px;
}

.modal-content {
    background-color: #e5e5e5;
}

.markdown-display {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 20px;
}